# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v5.0.0'
  hooks:
  - id: check-added-large-files
  - id: check-merge-conflict
    exclude: "rst$"
  - id: check-case-conflict
  - id: check-json
  - id: check-toml
  - id: check-xml
  - id: debug-statements
  - id: check-added-large-files
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-symlinks
    exclude: ^charts/
    types_or:
    - python
    - markdown
    - rst
- repo: https://github.com/sirosen/check-jsonschema
  rev: 0.33.0
  hooks:
  - id: check-github-actions
  - id: check-github-workflows
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.12
  hooks:
  - id: ruff-format
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
- repo: https://github.com/python-poetry/poetry
  rev: '2.1.3'
  hooks:
  - id: poetry-check
  - id: poetry-install
ci:
  skip:
  - check-github-actions
  - check-github-workflows
