{{- if .Values.grafanaProxy.ingress.enabled }}
{{- $ingressClassName := .Values.grafanaProxy.ingress.ingressClassName -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "platformReports.grafanaProxy.fullname" . }}
  labels: {{ include "platformReports.labels.standard" . | nindent 4 }}
  annotations:
{{- with .Values.grafanaProxy.ingress.annotations }}
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  {{- if $ingressClassName }}
  ingressClassName: {{ $ingressClassName }}
  {{- end }}
  rules:
    {{- range .Values.grafanaProxy.ingress.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          - backend:
              service:
                name: {{ include "platformReports.grafanaProxy.fullname" $ }}
                port:
                  name: http
            path: /api/dashboards
            pathType: Prefix
    - host: {{ . | quote }}
      http:
        paths:
          - backend:
              service:
                name: {{ include "platformReports.grafanaProxy.fullname" $ }}
                port:
                  name: http
            path: /ping
            pathType: Prefix
    - host: {{ . | quote }}
      http:
        paths:
          - backend:
              service:
                name: {{ include "platformReports.grafana.fullname" $ }}
                port:
                  number: 80
            path: /
            pathType: Prefix
    {{- end }}
{{- end }}
