{{- if .Values.metricsApi.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "platformReports.metricsApi.fullname" . }}
  labels:
    {{- include "platformReports.metricsApi.labels" . | nindent 4 }}
  {{- with .Values.metricsApi.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with .Values.metricsApi.ingress.ingressClassName }}
  ingressClassName: {{ . }}
  {{- end }}
  rules:
    {{- range .Values.metricsApi.ingress.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          - path: /api/v1/metrics/
            pathType: Prefix
            backend:
              service:
                name: {{ include "platformReports.metricsApi.fullname" $ }}
                port:
                  name: http
          - path: /api/metrics/
            pathType: Prefix
            backend:
              service:
                name: {{ include "platformReports.metricsApi.fullname" $ }}
                port:
                  name: http
    {{- end }}
{{- end }}
